* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.contant {
  width: 90%;
  height: 90vh;
  border: 1px solid black;
}
.screen {
  width: 100%;
  height: 30vh;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 50px;
}
.firstRow {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  position: relative;
}
.button {
  cursor: pointer;
  position: absolute;
  height: 20vh;
  width: 10%;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 50px;
  background-color:lightgoldenrodyellow;
}
#two {
  position: absolute;
  left: 10%;
}
#three {
  position: absolute;
  left: 20%;
}
#five {
  position: absolute;
  left: 10%;
}
#six {
  position: absolute;
  left: 20%;
}
#nine {
  position: absolute;
  left: 20%;
}
#eight {
  position: absolute;
  left: 10%;
}
#zero{
  position:absolute;
  left:30%;
 
}
#Dot{
  position:absolute;
  left:30%;
}
#backspace{
  postion:absolute;
  left:30%;
}